{% unless page.url == "/" %}
<footer class="text-center space--sm footer-5 bg--dark">
  <div class="container">
    <div class="row">
      {%- case page.layout -%}
        {%- when 'year' -%}
          {%- assign browse-by-groups = "year, strategy, program, slug" | split: ", " -%}
        {%- when 'projects-by-year' -%}
          {%- assign browse-by-groups = "year, strategy, program, slug" | split: ", " -%}
        {%- when 'strategy' -%}
          {%- assign browse-by-groups = "strategy, program, year, slug" | split: ", " -%}
        {%- when 'program' -%}
          {%- assign browse-by-groups = "program, strategy, year, slug" | split: ", " -%}
        {%- when 'projects-by-slug' -%}
          {%- assign browse-by-groups = "slug, strategy, program, year" | split: ", " -%}
        {%- else -%}
          {%- assign browse-by-groups = "strategy, program, year, slug" | split: ", " -%}
      {% endcase %}
      {%- for browse-by in browse-by-groups -%}
        {%- assign browse-by_data = site.data.browse-by[browse-by] -%}
        <div class="col-md-12 text-left text-md-center">
          <div class="m-0 mb-md-3"><span class="type--fine-print">Browse By {{ browse-by_data.singular }}</span></div>
          <div class="heading-block mb-3 mb-md-5">
            <ul class="list-inline social-list list--hover">
              {%- for item in browse-by_data.items -%}
                {%- if item.slug -%}
                  {%- assign item_slug = item.slug -%}
                {%- else -%}
                  {%- assign item_slug = item.title | slugify -%}
                {%- endif -%}
                {%- assign item_url = item_slug | append: '/' | prepend: browse-by_data.slug_prefix | prepend: '/' -%}
                {%- assign item_exists = false -%}
                {%- if published_pages_urls contains item_url -%}
                  {%- assign item_exists = true -%}
                {%- endif -%}
                {%- assign item_current = false -%}
                {%- if page_slug == item_slug -%}
                  {%- assign item_current = true -%}
                {%- endif -%}
                <li {% if item_current %} class="current"{% endif %}>
                  <a {% if item_exists %} href="{{ item_url | relative_url }}"{% else %} class="type--fade" title="{{ item_url}} is in development"{% endif %}><span>{{ item.title | smartify }}</span></a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {%- endfor -%}
    </div><!--end of row-->
  </div><!--end of container-->
</footer>
{% endunless %}

<footer class="space--xs footer-1 bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-8 text-left text-center-xs">
        <a href="#home"><img alt="Image" class="logo" src="{{ site.baseurl }}/assets/img/sprout_grey-circle.png"></a> <span class="type--fine-print">This work by The Sprout Fund is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.</span>
      </div>
      <div class="col-4 text-right text-center-xs">
        <ul class="social-list list-inline list--hover">
          <li class="list-inline-item">
            <a target="_blank" title="Twitter" href="https://twitter.com/sproutfund"><i class="socicon socicon-twitter icon icon--xs"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" title="Facebook" href="https://www.facebook.com/sproutfund"><i class="socicon socicon-facebook icon icon--xs"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" title="Instagram" href="https://www.instagram.com/sproutfund/"><i class="socicon socicon-instagram icon icon--xs"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" title="Github" href="https://github.com/sproutfund/"><i class="socicon socicon-github icon icon--xs"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
