<div class="nav-container">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <a href="index.html"><img alt="logo" class="logo logo-dark" src="/assets/img/sproutfund_black.svg"> <img alt="logo" class="logo logo-light" src="/assets/img/sproutfund_white.svg"></a>
        </div>
        <div class="col-6 text-right">
          <a class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm" href="#"><i class="icon icon--sm stack-interface stack-menu"></i></a>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </div><!--end bar-->
  <nav class="bar bar--transparent bar--absolute hidden-xs" id="menu2" style="">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 text-left hidden-xs">
          <div class="bar__module">
            <ul class="menu-horizontal">
              <li>
                <a href="#">About</a>
              </li>
              <li class="dropdown">
                <span class="dropdown__trigger">Impact</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-lg-6">
                        <div class="row">
                          <div class="col-lg-6">
                            <h5>By Focus Area</h5>
                            <ul class="menu-vertical">
                              <li>
                                <a href="#">Catalytic Grants</a>
                              </li>
                              <li>
                                <a href="#">Learning Networks</a>
                              </li>
                              <li>
                                <a href="#">Public Art &amp; Murals</a>
                              </li>
                              <li>
                                <a href="#">Community Building Events</a>
                              </li>
                              <li>
                                <a href="#">Storytelling &amp; Documentation</a>
                              </li>
                              <li>
                                <a href="#">Showcase &amp; Creativity</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-2">
                            <h5>By Year</h5>
                            <ul class="menu-vertical">
                              <li>
                                <a href="#">2001</a>
                              </li>
                              <li>
                                <a href="#">2002</a>
                              </li>
                              <li>
                                <a href="#">2003</a>
                              </li>
                              <li>
                                <a href="#">2004</a>
                              </li>
                              <li>
                                <a href="#">2005</a>
                              </li>
                              <li>
                                <a href="#">2006</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-2">
                            <h5>&nbsp;</h5>
                            <ul class="menu-vertical">
                              <li>
                                <a href="#">2007</a>
                              </li>
                              <li>
                                <a href="#">2008</a>
                              </li>
                              <li>
                                <a href="#">2009</a>
                              </li>
                              <li>
                                <a href="#">2010</a>
                              </li>
                              <li>
                                <a href="#">2011</a>
                              </li>
                              <li>
                                <a href="#">2012</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-2">
                            <h5>&nbsp;</h5>
                            <ul class="menu-vertical">
                              <li>
                                <a href="#">2013</a>
                              </li>
                              <li>
                                <a href="#">2014</a>
                              </li>
                              <li>
                                <a href="#">2015</a>
                              </li>
                              <li>
                                <a href="#">2016</a>
                              </li>
                              <li>
                                <a href="#">2017</a>
                              </li>
                              <li>
                                <a href="#">2018</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <span class="dropdown__trigger">Legacy</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-lg-2">
                        <ul class="menu-vertical">
                          <li>
                            <a href="#">Field Guide</a>
                          </li>
                          <li>
                            <a href="#">Last Will &amp; Testament</a>
                          </li>
                          <li>
                            <a href="#">Legacy Awardees</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center hidden-xs">
          <div class="bar__module">
            <a href="index.html"><img alt="logo" class="logo logo-dark" src="/assets/img/sproutfund_black.svg"> <img alt="logo" class="logo logo-light" src="/assets/img/sproutfund_white.svg"></a>
          </div><!--end module-->
        </div>
        <div class="col-12 col-md-4 text-right">
          <div class="bar__module">
            <ul class="social-list list-inline list--hover">
              <li class="list-inline-item">
                <a href="#">
                  <i class="socicon socicon-twitter icon icon--xs"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="socicon socicon-facebook icon icon--xs"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="socicon socicon-flickr icon icon--xs"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="socicon socicon-github icon icon--xs"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </nav>
</div><!--end nav-container-->
