{%- include published_pages.html -%}
<div class="nav-container">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <a href="{{ '/' | relative_url }}"><img alt="logo" class="logo logo-dark" src="{{ '/assets/img/sproutfund_black.svg' | relative_url }}"> <img alt="logo" class="logo logo-light" src="{{ '/assets/img/sproutfund_white.svg' | relative_url }}"></a>
        </div>
        <div class="col-6 text-right">
          <a class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm" href="#"><i class="icon icon--sm stack-interface stack-menu"></i></a>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </div><!--end bar-->
  <nav class="bar {% if page.cover-image.source %} bar--transparent bar--absolute{% endif %} hidden-xs" id="menu2" style="">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-md-4 text-left">
          <div class="bar__module">
            <ul class="menu-horizontal">
              <li class="dropdown">
                <span class="dropdown__trigger">About</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-lg-2">
                        <ul class="menu-vertical">
                          <li>
                            <a href="{{ '/#story' | relative_url }}">Our Story</a>
                          </li>
                          <li>
                            <a href="{{ '/team/' | relative_url }}">Our Team</a>
                          </li>
                          <li>
                            <a href="{{ '/#history' | relative_url }}">Our History</a>
                          </li>
                          <li>
                            <a href="{{ '/#supporters' | relative_url }}">Our Supporters</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <span class="dropdown__trigger">Impact</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-lg-9">
                        <div class="row">
                          <!--
                          <div class="col-lg-3">
                            <h5>Strategies for Community Change</h5>
                            <ul class="menu-vertical">
                              {%- for item in site.data.browse-by.strategy.items -%}
                                {%- if item.slug -%}
                                  {%- assign item_slug = item.slug -%}
                                {%- else -%}
                                  {%- assign item_slug = item.title | slugify -%}
                                {%- endif -%}
                                {%- assign item_url = item_slug | append: '/' | prepend: site.data.browse-by.strategy.slug_prefix | prepend: '/' -%}
                                {%- assign item_exists = false -%}
                                {%- if published_pages_urls contains item_url -%}
                                  {%- assign item_exists = true -%}
                                {%- endif -%}
                                {%- assign item_current = false -%}
                                {%- if page_slug == item_slug -%}
                                  {%- assign item_current = true -%}
                                {%- endif -%}
                                <li {% if item_current %} class="current"{% endif %}>
                                  <a {% if item_exists %} href="{{ item_url | relative_url }}"{% else %} class="type--fade" title="in development"{% endif %}><span>{{ item.title | smartify }}</span></a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                          -->
                          {%- assign program_col_length = site.data.browse-by.program.items.size | divided_by: 3.0 | ceil -%}
                          {%- assign program_col2_offset = program_col_length -%}
                          {%- assign program_col3_offset = program_col_length | times: 2 -%}
                          <div class="col-lg-3">
                            <h5>Programs & Initiatives</h5>
                            <ul class="menu-vertical">
                              {%- for item in site.data.browse-by.program.items limit:program_col_length -%}
                                {%- if item.slug -%}
                                  {%- assign item_slug = item.slug -%}
                                {%- else -%}
                                  {%- assign item_slug = item.title | slugify -%}
                                {%- endif -%}
                                {%- assign item_url = item_slug | append: '/' | prepend: site.data.browse-by.program.slug_prefix | prepend: '/' -%}
                                {%- assign item_exists = false -%}
                                {%- if published_pages_urls contains item_url -%}
                                  {%- assign item_exists = true -%}
                                {%- endif -%}
                                {%- assign item_current = false -%}
                                {%- if page_slug == item_slug -%}
                                  {%- assign item_current = true -%}
                                {%- endif -%}
                                <li {% if item_current %} class="current"{% endif %}>
                                  <a {% if item_exists %} href="{{ item_url | relative_url }}"{% else %} class="type--fade" title="in development"{% endif %}><span>{{ item.title | smartify }}</span></a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                          <div class="col-lg-3">
                            <h5 class="d-none d-md-block">&nbsp;</h5>
                            <ul class="menu-vertical">
                              {%- for item in site.data.browse-by.program.items offset:program_col2_offset limit:program_col_length -%}
                                {%- if item.slug -%}
                                  {%- assign item_slug = item.slug -%}
                                {%- else -%}
                                  {%- assign item_slug = item.title | slugify -%}
                                {%- endif -%}
                                {%- assign item_url = item_slug | append: '/' | prepend: site.data.browse-by.program.slug_prefix | prepend: '/' -%}
                                {%- assign item_exists = false -%}
                                {%- if published_pages_urls contains item_url -%}
                                  {%- assign item_exists = true -%}
                                {%- endif -%}
                                {%- assign item_current = false -%}
                                {%- if page_slug == item_slug -%}
                                  {%- assign item_current = true -%}
                                {%- endif -%}
                                <li {% if item_current %} class="current"{% endif %}>
                                  <a {% if item_exists %} href="{{ item_url | relative_url }}"{% else %} class="type--fade" title="in development"{% endif %}><span>{{ item.title | smartify }}</span></a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                          <div class="col-lg-3">
                            <h5 class="d-none d-md-block">&nbsp;</h5>
                            <ul class="menu-vertical">
                              {%- for item in site.data.browse-by.program.items offset:program_col3_offset limit:program_col_length -%}
                                {%- if item.slug -%}
                                  {%- assign item_slug = item.slug -%}
                                {%- else -%}
                                  {%- assign item_slug = item.title | slugify -%}
                                {%- endif -%}
                                {%- assign item_url = item_slug | append: '/' | prepend: site.data.browse-by.program.slug_prefix | prepend: '/' -%}
                                {%- assign item_exists = false -%}
                                {%- if published_pages_urls contains item_url -%}
                                  {%- assign item_exists = true -%}
                                {%- endif -%}
                                {%- assign item_current = false -%}
                                {%- if page_slug == item_slug -%}
                                  {%- assign item_current = true -%}
                                {%- endif -%}
                                <li {% if item_current %} class="current"{% endif %}>
                                  <a {% if item_exists %} href="{{ item_url | relative_url }}"{% else %} class="type--fade" title="in development"{% endif %}><span>{{ item.title | smartify }}</span></a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                          <div class="col-lg-3">
                            <h5>Grantmaking Highlights</h5>
                            <ul class="menu-vertical">
                              <li {% if page_slug == 'community' %} class="current"{% endif %}>
                                <a href="{{ site.baseurl }}/projects/highlights/community/">Community Innovation</a>
                              </li>
                              <li {% if page_slug == 'learning' %} class="current"{% endif %}>
                                <a href="{{ site.baseurl }}/projects/highlights/learning/">Learning Innovation</a>
                              </li>
                              <li {% if page_slug == 'public-art' %} class="current"{% endif %}>
                                <a href="{{ site.baseurl }}/projects/highlights/public-art/">Public Art</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <span class="dropdown__trigger">Legacy</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-lg-2">
                        <ul class="menu-vertical">
                          <li>
                            <a href="https://fieldguide.sproutfund.org/">Field Guide</a>
                          </li>
                          <li>
                            <a href="https://medium.com/@sproutfund/last-will-testament-26ab31ee583c">Last Will &amp; Testament</a>
                          </li>
                          <li>
                            <a href="{{ '/program/sunset/#legacy-awards' | relative_url }}">Legacy Awards</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center hidden-xs">
          <div class="bar__module">
            {% unless page.url == "/" %}
              <a href="{{ '/' | relative_url }}"><img alt="logo" class="logo logo-dark" src="{{ '/assets/img/sproutfund_black.svg' | relative_url }}"> <img alt="logo" class="logo logo-light" src="{{ '/assets/img/sproutfund_white.svg' | relative_url }}"></a>
            {% endunless %}
          </div><!--end module-->
        </div>
        <div class="col-12 col-md-4">
          <div class="row justify-content-end">
            <div class="col-lg-9">
              {%- if page_slug != 'search' -%}
                <div class="bar__module">
                  <form action="/website_evergreen/search/" method="get" id="searchbar">
                    <div class="input-icon">
                      <i class="material-icons">search</i>
                      <input type="search" placeholder="Search funded projects" name="query" />
                    </div>
                  </form>
                  <style type="text/css">
                    .bar--transparent #searchbar {
                      opacity: 0.6;
                    }
                    .bar--transparent #searchbar:focus-within {
                      opacity: 1;
                    }
                  </style>
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </nav>
</div><!--end nav-container-->
