{%- assign feature_image = feature.image -%}
{%- assign feature_name  = feature.name -%}
{%- assign feature_summary = feature.summary -%}
{%- assign feature_description = feature.description -%}
{%- if feature.link -%}
  {%- assign feature_link = feature.link | replace_first: "local:/",site.baseurl -%}
  {%- if feature.link contains "local:/" -%}
    {%- assign feature_link_target = "_self" -%}
  {%- else -%}
    {%- assign feature_link_target = "_blank" -%}
  {%- endif -%}
{%- endif -%}
{%- if feature.grant-id -%}
  {%- assign grant = site.data.grants | where: 'grant-id',feature.grant-id | first -%}
  {%- unless feature_image -%}
    {%- include grants/image.html -%}
    {%- assign feature_image = grant_image -%}
  {%- endunless -%}
  {%- unless feature_name -%}
    {%- assign feature_name = grant.project-name -%}
  {%- endunless -%}
  {%- unless feature_summary -%}
    {%- assign feature_summary = grant.short-statement -%}
  {%- endunless -%}
  {%- unless feature_description -%}

    {%- if grant.website -%}
      {%- capture grant_website -%}
        <br/><br/><a href="{{ grant.website }}" target="_blank">{{ grant.website }}</a>
      {%- endcapture -%}
    {%- else -%}
      {%- assign grant_website = grant.website -%}
    {%- endif -%}
    {%- assign feature_description = grant.full-description | newline_to_br | append: grant_website -%}
  {%- endunless -%}
  {% include grants/addon.html %}
  {%- assign feature_slug = grant.project-slug -%}
{%- endif -%}
{%- unless feature_slug -%}
  {%- assign feature_slug = feature_name | slugify -%}
{%- endunless -%}
<div class="col-md-4">
  <div class="feature"
    {%- if feature_image -%}
      {% unless feature_name or feature_summary %}
        style="margin-bottom: 30px;"
      {% endunless %}
    {% endif %}
  >
    {%- if feature_description -%}
      <div class="modal-instance">
        <a class="modal-trigger" href="#{{ feature_slug }}">
          {%- if feature_image -%}
            <img alt="{{ feature.name | smartify }}" class="border--round" src="{{ site.baseurl }}{{ feature_image }}">
          {%- endif -%}
          {%- if feature_name -%}
            <h4>{{ feature_name | smartify }}</h4>
          {%- endif -%}
        </a>
        {%- if feature_summary -%}
          <p>{{ feature_summary | smartify }}</p>
        {%- endif -%}
        <div class="modal-container" data-modal-id="{{feature_slug}}">
          <div class="modal-content section-modal">
            <section class="imageblock feature-large bg--site border--round">
              <div class="imageblock__content col-lg-5 col-md-4 pos-left">
                <div class="background-image-holder">
                  <img alt="background" src="{{ site.baseurl }}{{ feature_image }}" />
                </div>
              </div>
              <div class="container">
                <div class="row justify-content-end">
                  <div class="col-lg-7 col-md-8">
                    <div class="row justify-content-center">
                      <div class="col-md-11 col-lg-10">
                        <h2>{{ feature_name | smartify }}</h2>
                        {% if grant_addon %}<p class="lead">{{ grant_addon | smartify }}</p>{% endif %}
                        <p>{{ feature_description | smartify }}</p>
                      </div><!--end of col-->
                    </div><!--end of row-->
                  </div>
                </div><!--end of row-->
              </div><!--end of container-->
            </section>
            <div class="modal-close modal-close-cross"></div>
          </div>
        </div>
      </div>
    {%- else -%}
      {%- if feature_link -%}
        <a href="{{ feature_link }}" target="{{ feature_link_target }}">
      {%- endif -%}
      {%- if feature_image -%}
        <img alt="{{ feature_name | smartify }}" class="border--round" src="{{ site.baseurl }}{{ feature_image }}">
      {%- endif -%}
      {%- if feature_name -%}
        <h4>{{ feature_name | smartify }}</h4>
      {%- endif -%}
      {%- if feature_link -%}
        </a>
      {%- endif -%}
      {%- if feature_summary -%}
        <p>{{ feature_summary | smartify }}</p>
      {%- endif -%}
    {%- endif -%}
  </div>
</div>
