{%- if page.video.url -%}
  {%- comment -%}
    <section class="text-center bg--dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-10">
            <div class="video-cover border--round">
              <div class="background-image-holder"><img alt="image" src="{{ site.baseurl }}{{ page.video.thumbnail }}"></div>
              <div class="video-play-icon"></div><iframe allowfullscreen="allowfullscreen" data-src="{{ page.video.url }}"></iframe>
            </div><span><strong>{{ page.video.title | smartify }}</strong><br/><i class="icon material-icons" style="font-size: 1.25rem; color: #555555;">timer</i>&nbsp;{{ page.video.duration }}</span>
          </div>
        </div>
      </div>
    </section>
  {%- endcomment -%}
  <section class="cover imagebg text-center height-70" data-overlay="4">
    <div class="background-image-holder"><img alt="background" src="{{ site.baseurl }}{{ page.video.thumbnail }}"></div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-md-8">
          <h1>{{ page.video.title | smartify }}</h1>
          <p class="lead">{{ page.video.caption | smartify }}</p>
          <div class="modal-instance block">
            <div class="video-play-icon video-play-icon--sm modal-trigger"></div><span><strong>Watch the video</strong>&nbsp;&nbsp;&nbsp;<i class="icon color--white material-icons" style="font-size: 1.25rem">timer</i>&nbsp;{{ page.video.duration }}</span>
            <div class="modal-container">
              <div class="modal-content bg-dark" data-height="80%" data-width="80%">
                <iframe allowfullscreen="allowfullscreen" data-src="{{ page.video.url }}"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%- endif -%}
