{%- for highlight in page.highlights -%}
  <section class="{% cycle 'bg--white', 'bg--secondary' %}">
    {%- if highlight.include_file -%}
      {% include {{ highlight.include_file }} %}
    {%- else -%}
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb--1">
            {%- if highlight.video -%}
              <div class="modal-instance block">
                <h1>{{ highlight.title | smartify }}<a href="#{{ highlight.title | slugify }}--video"  class="btn btn--sm float-right modal-trigger" style="font-size: 1rem;"><span class="btn__text">Play Video</span></a></h1>
                <div class="modal-container" data-modal-id="{{ highlight.title | slugify }}--video">
                  <div class="modal-content" data-height="80%" data-width="80%">
                    <iframe allowfullscreen="allowfullscreen" data-src="{{ section.video }}"></iframe>
                  </div>
                </div>
              </div>
            {%- else -%}
              <h1>{{ highlight.title | smartify }}</h1>
            {%- endif -%}
            {%- for description_para in highlight.description -%}
              <p class="lead">{{ description_para | smartify }}</p>
            {%- endfor -%}
            {%- if highlight.video -%}
              <div class="modal-instance block">
                <div class="modal-container" data-modal-id="{{ highlight.title | slugify }}--video">
                  <div class="modal-content" data-height="80%" data-width="80%">
                    <iframe allowfullscreen="allowfullscreen" data-src="{{ highlight.video }}"></iframe>
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
      {%- if highlight.features -%}
        <div class="container">
          <div class="row mb--1">
            <div class="col-12">
              <hr>
            </div>
          </div>
          <div class="row mb--2">
            {%- for feature in highlight.features -%}
              {% include page-highlights-feature.html %}
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
      {%- if highlight.sections -%}
        {%- for section in highlight.sections -%}
          {%- if section.include_file -%}
            {% include {{ section.include_file }} %}
          {%- else -%}
            <div class="container">
              <div class="row mb--1">
                <div class="col-12">
                  <hr>
                  {%- if section.video -%}
                    <div class="modal-instance block">
                      <h2>{{ section.title | smartify }}<a href="#{{ section.title | slugify }}--video"  class="btn btn--sm float-right modal-trigger" style="font-size: 1rem;"><span class="btn__text">Play Video</span></a></h2>
                      <div class="modal-container" data-modal-id="{{ section.title | slugify }}--video">
                        <div class="modal-content" data-height="80%" data-width="80%">
                          <iframe allowfullscreen="allowfullscreen" data-src="{{ section.video }}"></iframe>
                        </div>
                      </div>
                    </div>
                  {%- else -%}
                    <h2>{{ section.title | smartify }}</h2>
                  {%- endif -%}
                  {%- for description_para in section.description -%}
                    <p class="lead">{{ description_para | smartify }}</p>
                  {%- endfor -%}
                </div>
              </div>
              <div class="row mb--2">
                {%- for feature in section.features -%}
                  {% include page-highlights-feature.html %}
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  </section>
{%- endfor -%}
