{%- if page.acknowledgements -%}
  <section class="bg--dark">
    <div class="container">
      <div class="row">
        <div class="col-12 mb--1">
          <h2>Acknowledgements</h2>
          <p class="type--italic">Thank you to all those who made this {{ page.layout }} possible!</p>
        </div>
      </div>
      <div class="row">
        {%- for column in page.acknowledgements -%}
          <div class="
            {%- if column.title == 'Advisory Board' or column.title == 'Board of Directors' or column.title == 'Staff' -%}
              col-6 col-md-4
            {%- else -%}
              col-12 col-md-4
            {%- endif -%}
          ">
            <h3>{{ column.title }}</h3>
            <ul>
              {%- if column.items[0] == 'NEED TO ADD' -%}
                <li><span style="background-color: #FFFF99; color: black; padding: 0 0.5rem;">NEED TO ADD</span></li>
              {%- else -%}
                {%- for item in column.items -%}
                  {%- assign item_front = item | split: '|' | first | strip -%}
                  {%- assign item_back  = item | split: '|' | last  | strip -%}
                  <li>{{ item_front | smartify }}{% if item_back != item_front %} <span class="type--fine-print type--fade type--italic ">{{ item_back | smartify }}</span>{%- endif -%}</li>
                {%- endfor -%}
              {%- endif -%}
            </ul>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </section>
{%- endif -%}
