<!-- Twitter -->
<meta name="twitter:card" content="{% if page.title %}summary{% else %}summary_large_image{% endif %}">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:creator" content="@{{ site.twitter }}">
<meta name="twitter:title" content="{{ page.title | default: site.title | smartify }}">
<meta name="twitter:description" content="{{ page.description | default: site.description | smartify }}">
{% if page.cover-image.source %}
<meta name="twitter:image" content="{{ page.cover-image.source | absolute_url }}">
{% elsif page.logo %}
<meta name="twitter:image" content="{{ page.logo | absolute_url }}">
{% else %}
<meta name="twitter:image" content="{{ site.social_image_path | absolute_url }}">
{% endif %}

<!-- Facebook -->
<meta property="og:url" content="{{ site.url | append: page.url }}">
<meta property="og:title" content="{{ page.title | default: site.title | smartify }}">
<meta property="og:description" content="{{ page.description | default: site.description | smartify }}">
<meta property="og:type" content="website">
{% if page.cover-image.source %}
<meta property="og:image" content="{{ page.cover-image.source | absolute_url | replace: 'https://', 'http://' }}">
<meta property="og:image:secure_url" content="{{ page.cover-image.source | absolute_url }}">
{% elsif page.logo %}
<meta property="og:image" content="{{ page.logo | absolute_url | replace: 'https://', 'http://' }}">
<meta property="og:image:secure_url" content="{{ page.logo | absolute_url }}">
{% else %}
<meta property="og:image" content="{{ site.social_image_path | absolute_url | replace: 'https://', 'http://' }}">
<meta property="og:image:secure_url" content="{{ site.social_image_path | absolute_url }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{% endif %}
