<link media="all" rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap/bootstrap.css' | relative_url }}" />
<link media="all" rel="stylesheet" type="text/css" href="{{ '/assets/css/stack/stack-interface.css' | relative_url }}" />
<link media="all" rel="stylesheet" type="text/css" href="{{ '/assets/css/stack/iconsmind.css' | relative_url }}" />
<link media="all" rel="stylesheet" type="text/css" href="{{ '/assets/css/stack/socicon.css' | relative_url }}" />
<link media="all" rel="stylesheet" type="text/css" href="{{ '/assets/css/stack/theme-greensea.css' | relative_url }}" />
<link media="all" rel="stylesheet" type="text/css" href="{{ '/assets/css/custom.css' | relative_url }}" />
<link media="all" rel="stylesheet" type="text/css" href="{{ '/assets/css/fontawesome-pro/all.min.css' | relative_url }}" />
<link media="all" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" />
<link media="all" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
