<div class="container">
  <div class="row">
    <div class="col-md-12 mb--1">
      <h1>Community Response</h1>
      <hr/>
    </div>
  </div>
</div>
<!--Winner-->
<div class="container">
  <div class="row mb--2">
    <div class="col-sm-6 col-lg-6">
      <img alt="“You Belong” by Bob Ziller" class="border--round box-shadow-wide" src="{{ '/photos/public-art/belonging/you-belong_by_bob-ziller.jpg' | relative_url }}">
    </div>
    <div class="col-sm-6 col-lg-5">
      <div class="switchable__text">
        <h2>Winning Design: “You Belong”</h2>
        <p class="lead">Bob, 56, from Wilkinsburg</p>
        <div class="text-block">
          <h5>Artist Statement</h5>
          <p>This design was inspired by the ancient Sri Yantra designs of India, which connoted cosmic unity. I've given the old design a modern, folky twist. The background was made with oil pastels on tarpaper, and the lettering was made by cutting origami papers of yellow and deep blue. The “You Belong” lettering was inspired by a handmade font created by the artist Rick Bach.</p>
        </div>
        <div class="text-block">
          <h5>About the Artist</h5>
          <p>Bob Ziller has displayed his artwork in more than 100 exhibitions in galleries and museums throughout the U.S., including the Carnegie Museum of Art, the Andy Warhol Museum, Mattress Factory, Chicago Cultural Center, Hunter Museum of American Art, Norton Museum of Art, Monterey Museum of Art, George Eastman House, Mendelson Gallery, and many others.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Honorable Mentions-->
<div class="container">
  <div class="row mb--1">
    <div class="col-12">
      <hr>
      <h2>Community Voices</h2>
      <p class="lead">17 additional designs were selected for inclusion on a “community voices” poster. These designs received “honorable mention” designation by the jury of art professionals, were selected by a separate jury of local youth, or were among the top 5 most popular adult or youth submissions through the online public voting process.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-3">
          <div class="feature">
            <img alt="Beatrice, 29, from Deutschtown" class="border--round" src="{{ '/photos/public-art/belonging/022.jpg' | relative_url }}">
            <p>Beatrice, 29, from Deutschtown</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Phoenix, 12, from Bloomfield" class="border--round" src="{{ '/photos/public-art/belonging/058.jpg' | relative_url }}">
            <p>Phoenix, 12, from Bloomfield</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt=Jeff, 40, from Ross"" class="border--round" src="{{ '/photos/public-art/belonging/068.jpg' | relative_url }}">
            <p>Jeff, 40, from Ross</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Chanie, 18, from Squirrel Hill" class="border--round" src="{{ '/photos/public-art/belonging/123.jpg' | relative_url }}">
            <p>Chanie, 18, from Squirrel Hill</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Anonymous from Hazelwood" class="border--round" src="{{ '/photos/public-art/belonging/086.jpg' | relative_url }}">
            <p>Anonymous from Hazelwood</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="" class="border--round" src="{{ '/photos/public-art/belonging/105.jpg' | relative_url }}">
            <p>Ron, 58, from Lawrenceville</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Asmita, 16, from Brentwood" class="border--round" src="{{ '/photos/public-art/belonging/107.jpg' | relative_url }}">
            <p>Asmita, 16, from Brentwood</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Alberto, 35, from Observatory Hill" class="border--round" src="{{ '/photos/public-art/belonging/118.jpg' | relative_url }}">
            <p>Alberto, 35, from Observatory Hill</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Kaitlyn, 12, from Shadyside" class="border--round" src="{{ '/photos/public-art/belonging/070.jpg' | relative_url }}">
            <p>Kaitlyn, 12, from Shadyside</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Hope Academy in East Liberty" class="border--round" src="{{ '/photos/public-art/belonging/125.jpg' | relative_url }}">
            <p>Hope Academy in East Liberty</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Kirsten, 49, from Lawrenceville" class="border--round" src="{{ '/photos/public-art/belonging/146.jpg' | relative_url }}">
            <p>Kirsten, 49, from Lawrenceville</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Anonymous from Friendship" class="border--round" src="{{ '/photos/public-art/belonging/128.jpg' | relative_url }}">
            <p>Anonymous from Friendship</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Cynthia, 26, from Squirrel Hill" class="border--round" src="{{ '/photos/public-art/belonging/137.jpg' | relative_url }}">
            <p>Cynthia, 26, from Squirrel Hill</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="David, 52, from Spring Hill" class="border--round" src="{{ '/photos/public-art/belonging/153.jpg' | relative_url }}">
            <p>David, 52, from Spring Hill</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Zoe, 13, from Oakland" class="border--round" src="{{ '/photos/public-art/belonging/531.jpg' | relative_url }}">
            <p>Zoe, 13, from Oakland</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Malik, 13, from Brentwood" class="border--round" src="{{ '/photos/public-art/belonging/501.jpg' | relative_url }}">
            <p>Malik, 13, from Brentwood</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="feature">
            <img alt="Hannah, 13, &amp; Skyler, 13, from Oakland" class="border--round" src="{{ '/photos/public-art/belonging/510.jpg' | relative_url }}">
            <p>Hannah, 13, &amp; Skyler, 13, from Oakland</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
