<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="layout-{{ page.layout }}">
    {% include skippy.html %}

    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="{{ site.css_sidebar }}">
          {% include sidebar.html %}
        </div>

        {%- capture heading_content -%}
          {%- for section in site.data.nav -%}

            {%- assign section_slug = section.title | slugify -%}
            <h2 id="{{ section_slug }}">{{ section.title }}</h2>

            {% unless section.pages == nil %}
            {%- for group in section.pages -%}

              {%- assign group_slug = group.title | slugify -%}
              <h3 id="{{ section_slug }}--{{ group_slug }}">{{ group.title }}</h3>

              {% unless group.pages == nil %}
              {%- for doc in group.pages -%}

                {%- assign doc_slug = doc.title | slugify -%}
                <h4 id="{{ section_slug }}--{{ group_slug }}--{{ doc_slug }}">{{ doc.title }}</h4>

              {%- endfor -%}
              {% endunless %}

            {%- endfor -%}
            {% endunless %}
          {%- endfor -%}
        {%- endcapture -%}

        {% if page.toc %}
          <div class="{{ site.css_toc }}">
            {% include toc.html html=heading_content class="section-nav" item_class="toc-entry toc-h%level%" %}
          </div>
        {% endif %}

        <main id="content" class="{{ site.css_main }}" role="main">
          {% include docs/header_print.html %}
          <h1 class="bd-title" id="content">{{ page.title | smartify }}</h1>
          <p class="bd-lead">{{ page.subtitle | smartify }}</p>

          {{ content }}

          {%- assign content_pages = site.pages | where_exp: "page","page.layout != 'redirect'" -%}
          {%- for section in site.data.nav -%}
            {%- assign section_slug = section.title | slugify -%}
            {%- capture section_url -%}
              {{ site.baseurl }}/{{ section_slug }}/
            {%- endcapture -%}
            {%- assign section_page = content_pages | where: "url",section_url | first -%}

            <h2 class="display-2" id="{{ section_slug }}">
              {%- if section_page == nil -%}
                {{ section.title }}
              {%- else -%}
                <a href="{{ section_url }}">
                  {{ section.title }}
                </a>
              {%- endif -%}
              {% if section_page.status %}<div class="d-inline page-status"> {{ section_page.status }}</div>{% endif %}
            </h2>
            {%- if section_page.description -%}
              <p>{{ section_page.description | smartify }}</p>
            {%- endif -%}

            {% unless section.pages == nil %}
            {%- for group in section.pages -%}
              {%- assign group_slug = group.title | slugify -%}
              {%- capture group_url -%}
                {{ site.baseurl }}/{{ section_slug }}/{{ group_slug }}/
              {%- endcapture -%}
              {%- assign group_page = content_pages | where: "url",group_url | first -%}

              <h3 id="{{ section_slug }}--{{ group_slug }}">
                {%- if group_page == nil -%}
                  {{ group.title }}
                {%- else -%}
                  <a href="{{ group_url }}">
                    {{ group.title }}
                  </a>
                {%- endif -%}
                {% if group_page.status %}<div class="d-inline page-status"> {{ group_page.status }}</div>{% endif %}
              </h3>
              {%- if group_page.description -%}
                <p>{{ group_page.description | smartify }}</p>
              {%- endif -%}

              {% unless group.pages == nil %}
              <ul>
                {%- for doc in group.pages -%}
                  {%- assign doc_slug = doc.title | slugify -%}
                  {%- capture doc_url -%}
                    {{ site.baseurl }}/{{ section_slug }}/{{ group_slug }}/{{ doc_slug }}/
                  {%- endcapture -%}
                  {%- assign doc_page = content_pages | where: "url",doc_url | first -%}

                  <h4 id="{{ section_slug }}--{{ group_slug }}--{{ doc_slug }}">
                    {%- if doc_page == nil -%}
                      {{ doc.title }}
                    {%- else -%}
                      <a href="{{ doc_url }}">
                        {{ doc.title }}
                      </a>
                    {%- endif -%}
                    {% if doc_page.status %}<div class="d-inline page-status"> {{ doc_page.status }}</div>{% endif %}
                  </h4>
                  {%- if doc_page.description -%}
                    <p>{{ doc_page.description | smartify }}</p>
                  {%- endif -%}

                {%- endfor -%}
              </ul>
              {% endunless %}

            {%- endfor -%}
            {% endunless %}
          {%- endfor -%}

          {% include footer.html %}
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
