<!DOCTYPE html>
<html lang="en">
<head>
  {% include header.html %}
</head>
<body data-smooth-scroll-offset="77">

  {% include navbar.html %}

  <div class="main-container">

    <!-- Cover -->
    <section class="cover imagebg height-100 text-center" data-overlay="4">
      <div class="background-image-holder background--top"><img alt="background" src="{{ site.baseurl }}{{ page.cover-image.source }}"></div>
      <div class="container pos-vertical-center">
        <div class="row">
          <div class="col-md-8">
            <img alt="Image" class="unmarg--bottom" src="{{ site.baseurl }}/assets/brand/sproutfund-in-circle_white.svg">
            <h1>2001–2018</h1>
            <h3>Communities are better places to live, learn, and thrive because of the people and ideas supported by The Sprout Fund.</h3>
          </div>
        </div>
      </div>
    </section>

    <!--Letter-->
    <section class="switchable switchable--switch space--sm" id="sunset">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2>After 17 successful years, The Sprout Fund sunset in 2018.</h2>
            <p class="lead">The Sprout Fund improved Pittsburgh by inspiring and nurturing people with innovative, grassroots ideas to positively impact their communities.</p>
            <p class="lead">Helping others become catalysts for civic change has defined our organization for nearly two decades. Nearly $8 million of community-decided investments went to 1,500+ people, projects, and ideas.</p>
            <p class="lead">Our pioneering efforts to achieve this mission have spread further and wider than we could have imagined.</p>
            <p class="lead">Now, a cultural shift has taken root and our community is stronger and more resilient. It’s a good time to sunset.</p>
            <p class="lead"><strong>Thank you, Pittsburgh.</strong> This work was only possible because of deep, trusting relationships with all who shared their ideas, money, leadership, and time.</p>
            <p class="lead">— <em>All of us at Sprout</em></p>
          </div>
          <div class="col-md-4">
            <div class="project-thumb">
              <img src="{{ site.baseurl }}/photos/programs/sunset/CJL-MGH.jpg" class="img-fluid rounded" alt="Cathy Lewis Long &amp; Matt Hannigan, Sprout’s Co-Founders">
              <h4 style="font-size: 1.221428574em; line-height: 1.231578945em;">Cathy Lewis Long &amp; Matt Hannigan</h4>
              <span>Sprout’s Co-Founders</span>
              <span class="type--fine-print text-right" style="opacity: .5;"> / photo: Rob Long</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Learn More-->
    <section class="text-center imagebg space--sm" data-gradient-bg="#ADC585,#6D7B3B,#162505,#9A2E26">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6">
            <div class="cta">
              <h1>Learn More about Sprout and Our Impact</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include page-highlights.html %}

    <footer class="space--sm footer-5 bg--dark">
      <div class="container">
        <div class="row mb--1">
          <div class="col-12">
            <h1>Browse By Project Name</h1>
            <p class="lead" style="display: none;"></p>
          </div>
        </div>
        <div class="row mb--2">
          {%- assign browse-by_data = site.data.browse-by.slug -%}
          <div class="col-md-12">
            <div class="heading-block">
              <ul class="list-inline list--hover">
                {%- for item in browse-by_data.items -%}
                  {%- assign item_url = item.title | slugify | append: '/' | prepend: browse-by_data.slug_prefix | prepend: '/' | prepend: site.baseurl -%}
                  <li>
                    <a href="{{ item_url }}" class="lead"><span>{{ item.title | smartify }}</span></a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div><!--end of row-->
      </div><!--end of container-->
    </footer>

    {% include footer.html %}

  </div>

  {% include scripts.html %}
  <script src="{{ site.baseurl }}/assets/js/granim.min.js">
  </script>
</body>
</html>
