<!DOCTYPE html>
<html lang="en">
<head>
  {% include header.html %}
</head>
<body data-smooth-scroll-offset="77">

  {% include navbar.html %}

  <div class="main-container">

    <!-- Cover -->
    <section class="cover imagebg height-100 text-center" data-overlay="4">
      <div class="background-image-holder background--top"><img alt="background" src="{{ page.cover-image.source | relative_url }}"></div>
      <div class="container pos-vertical-center">
        <div class="row">
          <div class="col-md-6">
            <img alt="Image" class="unmarg--bottom" src="{{ '/assets/brand/sproutfund-in-circle_white.svg' | relative_url }}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h1>2001–2018</h1>
            <h3>Communities are better places to live, learn, and thrive because of the people and ideas supported by The Sprout Fund.</h3>
          </div>
        </div>
      </div>
    </section>

    <!--Sunset Letter-->
    <section class="switchable switchable--switch space--sm" id="sunset">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2>After 17 successful years, The Sprout Fund sunset in 2018.</h2>
            <p class="lead">The Sprout Fund improved Pittsburgh by inspiring and nurturing people with innovative, grassroots ideas to positively impact their communities.</p>
            <p class="lead">Helping others become catalysts for civic change has defined our organization for nearly two decades. Nearly $8 million of community-decided investments went to 1,500+ people, projects, and ideas.</p>
            <p class="lead">Our pioneering efforts to achieve this mission have spread further and wider than we could have imagined.</p>
            <p class="lead">Now, a cultural shift has taken root and our community is stronger and more resilient. It’s a good time to sunset.</p>
            <p class="lead"><strong>Thank you, Pittsburgh.</strong> This work was only possible because of deep, trusting relationships with all who shared their ideas, money, leadership, and time.</p>
            <p class="lead">— <em>All of us at Sprout</em></p>
          </div>
          <div class="col-md-4">
            <div class="project-thumb">
              <img src="{{ site.baseurl }}/photos/programs/sunset/CJL-MGH.jpg" class="img-fluid rounded" alt="Cathy Lewis Long &amp; Matt Hannigan, Sprout’s Co-Founders">
              <h4 style="font-size: 1.221428574em; line-height: 1.231578945em;">Cathy Lewis Long &amp; Matt Hannigan</h4>
              <span>Sprout’s Co-Founders</span>
              <span class="type--fine-print text-right" style="opacity: .5;"> / photo: Rob Long</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Learn More CTA-->
    <section class="text-center imagebg space--sm" data-gradient-bg="#ADC585,#6D7B3B,#162505,#9A2E26">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6">
            <div class="cta">
              <h1>Learn more about Sprout and our lasting impact</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Story of Sprout-->
    <section class="imageblock switchable switchable--switch feature-large bg--secondary" id="story">
      <div class="imageblock__content d-sm-none d-md-block col-md-4 col-lg-6 col-xl-6 pos-right">
        <div class="background-image-holder"><img alt="background" src="{{ '/photos/knit-the-bridge.jpg' | relative_url }}"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <h1 id="story">Our Story</h1>
            <p class="lead">The Sprout Fund was an important force for change in Pittsburgh.</p>
            <p>During a critical period in its post-industrial revitalization, we powered the grassroots response to many pressing regional issues. We took smart chances on creative people and their innovative ideas. We forged deep and trusted relationships with philanthropic organizations. And, we put decisions about resources in the hands of the next generation of civic leaders.</p>
            <p>We pioneered a new mechanism for community-driven, community-advised philanthropy. Working out of storefronts on Penn Avenue, we were open and accessible to anyone with an idea. Our investments amplified diverse voices and created space in Pittsburgh for new approaches. We built strong networks to help ideas take hold. From 2001 to 2018, we showed that small-scale catalytic projects can yield big results.</p>
            <p>We also showed the power of engaging face-to-face experiences. Our interactive, facilitated events focused on forging connections and sparking high-impact next steps. We documented changes in the civic landscape with photos and videos. We told stories that raised awareness about unique people, projects, and ideas.</p>
            <p>Many friends and supporters championed our efforts. And we were led throughout by our co-founders, powered by a dedicated staff, and governed by an engaged board of young community leaders.</p>
          </div>
        </div>
      </div>
    </section>

    <!--Strategies, Programs, Years-->
    {% include page_parts/highlights.html %}

    <!--Funded Projects-->
    <footer class="space--sm footer-5 bg--dark">
      <div class="container">
        <div class="row mb--2">
          <div class="col-12">
            <h1>Our Funded Projects</h1>
            <p class="lead">Sprout projects created new initiatives, events, and organizations that helped citizens take action on pressing issues or enhanced the cultural vitality of the Pittsburgh region.</p>
          </div>
        </div>
        <div class="row mb--2">
          <div class="col-12">
            <h2>Browse By Name</h2>
            <p class="lead" style="display: none;"></p>
          </div>
          {%- assign browse-by_data = site.data.browse-by.slug -%}
          <div class="col-md-12 text-left">
            <div class="heading-block mb-3 mb-md-5">
              <ul class="list-inline list--hover">
                {%- for item in browse-by_data.items -%}
                  {%- if item.slug -%}
                    {%- assign item_slug = item.slug -%}
                  {%- else -%}
                    {%- assign item_slug = item.title | slugify -%}
                  {%- endif -%}
                  {%- assign item_url = item_slug | append: '/' | prepend: '/projects/' -%}
                  <li class="list-inline-item">
                    <a class="lead" href="{{ item_url | relative_url }}"><span>{{ item.title | smartify }}</span></a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div><!--end of row-->
        <div class="row mb--2">
          <div class="col-12">
            <h2>Browse By Year</h2>
            <p class="lead" style="display: none;"></p>
          </div>
          {%- assign browse-by_data = site.data.browse-by.year -%}
          <div class="col-md-12 text-left">
            <div class="heading-block mb-3 mb-md-5">
              <ul class="list-inline list--hover">
                {%- for item in browse-by_data.items -%}
                  {%- if item.slug -%}
                    {%- assign item_slug = item.slug -%}
                  {%- else -%}
                    {%- assign item_slug = item.title | slugify -%}
                  {%- endif -%}
                  {%- assign item_url = item_slug | append: '/' | prepend: '/projects/' -%}
                  <li class="list-inline-item">
                    <a class="lead" href="{{ item_url | relative_url }}"><span>{{ item.title | smartify }}</span></a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div><!--end of row-->
      </div><!--end of container-->
    </footer>

    <!--History-->
    <section class="imagebg" data-overlay="6" id="history">
      <div class="background-image-holder"><img alt="background" src="{{ '/photos/sprouts.jpg' | relative_url }}"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1>Our History</h1>
            <p class="lead" style="margin-bottom: 2em;">For nearly two decades, Sprout’s partnerships with regional and national foundations helped power Pittsburgh’s grassroots response to a wide range of social, environmental, and economic challenges.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h2 style="margin-bottom: 1.181818181818185em;">Beginnings &amp; Early Success</h2>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2001</h4>
              <p>Created the <b>Seed Award</b> as mechanism for young people to support innovative ideas to make Pittsburgh a better place to live, work, and play. Supported initially by the Richard King Mellon Foundation and Heinz Endowments.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2003</h4>
              <p>Launched Public Art <b>community mural</b> program to transform the visual landscape and bring communities together around shared goals. Longstanding program supporters were PNC Foundation and Laurel Foundation.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2003</h4>
              <p>Hosted first <b>Hothouse</b> event, our “live annual report” to the community and annual fundraiser until 2010. It regularly earned “best party” accolades and drew crowds to recent redevelopments.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2004</h4>
              <p>Partnered with Club Café, The Andy Warhol Museum, and the Brew House Association to activate Pittsburgh in winter through a 3-month series of <b>art, music, and performances</b>.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2006</h4>
              <p>Issued first RFPs on community-generated topics through <b>Engage Pittsburgh</b> after the Idea Round Up. Lead support provided by Claude Worthington Benedum Foundation.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2006</h4>
              <p>Commissioned local artists to design <b>Giant Inflatables</b> that were erected at cultural sites throughout the city to raise awareness about the Pittsburgh Roars marketing campaign.</p>
            </div>
          </div>
          <div class="col-12 text-center">
            <h2 style="margin-bottom: 1.181818181818185em;">Growth &amp; Expansion</h2>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2008</h4>
              <p>Stewarded $1 million in Community Connections grants to help citizens take part in regional celebration of <b>Pittsburgh’s 250</b>th anniversary. Worked on behalf of Allegheny Conference on Community Development.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2009</h4>
              <p>Launched <b>Spark </b>program in partnership with The Grable Foundation to forge collaborations between early learning educators and digital media technologists.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2010</h4>
              <p>Partnered with The Pittsburgh Foundation to support local efforts to enhance <b>biodiversity</b> when Pittsburgh was North American host city for UN World Environment Day.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2011</h4>
              <p>Celebrated 10th anniversary of organization with <b><i>TENACITY</i></b>, a one-night-only performance retrospective from Sprout’s first 10 years of investments in the arts.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2012</h4>
              <p>Formalized the learning innovation network now called <b>Remake Learning</b> and helped it grow from a hundred people and a few dozen organizations to thousands of teachers, techies, and civic leaders from 500+ regional orgs.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2012</h4>
              <p>Issued first annual batch of $1,000 innovation grants that would come to be known as <b>Grand Ideas</b> as the conclusion of the year-long Social Innovation Exchange.</p>
            </div>
          </div>
          <div class="col-12 text-center">
            <h2 style="margin-bottom: 1.181818181818185em;">Regional &amp; National Leadership</h2>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2013</h4>
              <p>Secured national funding from <b>MacArthur Foundation</b> to establish a Hive and support Connected Learning activities for teens that were interest-driven, peer-supported, and production-centered.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2014</h4>
              <p>Hosted an <b>international summit in Silicon Valley</b> to focus the attention of educators and employers on the potential of open digital badges—on behalf of MacArthur Foundation and in partnership with Digital Promise.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2014</h4>
              <p>Established <b>The Digital Corps</b> to deploy trained-mentors into afterschool community centers to help improve digital literacy skills. Supported by The Grable Foundation and part of the Mozilla global community.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2014</h4>
              <p>Piloted the use of <b>digital badges</b> to recognize learning and achievement through support from The Hillman Foundation. Defined shared competencies for the knowledge, skills, and dispositions of 21st century learning.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2015</h4>
              <p>Empowered residents to take action in their communities and advance the <b>One Northside</b> community vision through support from The Buhl Foundation.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2015</h4>
              <p>Published the <a href="http://playbook.remakelearning.org/" target="_blank"><b>Remake Learning Playbook</b></a> to help other communities create effective regional networks for teaching and learning with support from The Grable Foundation.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2016</h4>
              <p>Facilitated a <b>White House event</b> on behalf of the Office of Science &amp; Technology Policy to discuss ways to apply maker learning principles and reimagine underutilized municipal assets.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2016</h4>
              <p>Partnered with City of Pittsburgh on <b>Rec2Tech</b> to demonstrate the potential for municipal rec centers as 21st century learning labs with lead support from Comcast NBCUniversal.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2016</h4>
              <p>Applied Sprout’s strategies for <b>participatory events and knowledge management</b> through national community work on behalf of LRNG and the Bill &amp; Melinda Gates Foundation.</p>
            </div>
          </div>
          <div class="col-12 text-center">
            <h2 style="margin-bottom: 1.181818181818185em;">Final Years</h2>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2017</h4>
              <p>Used $100,000 of our organizational reserves to fund local solutions to pressing national issues during the first <b>100 Days</b> of the new presidential administration.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2017</h4>
              <p>Called on communities to create posters and yard signs in support of immigrants and refugees and convey the important idea that Pittsburgh is a place where we all <b>belong</b>.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2017</h4>
              <p>Led a digital literacy collaborative for <b>My Brother’s Keeper</b> on behalf of the City of Pittsburgh and Allegheny County with support from The Heinz Endowments.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2017</h4>
              <p>Helped regions like Springfield, Ohio, and the Research Triangle in North Carolina remix Sprout’s <b>effective network approach</b> and build their own learning innovation ecosystems.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2018</h4>
              <p>Mobilized 3 working groups to develop collaborative solutions that expand <b>economic opportunity</b> in the region through support from the BNY Mellon Foundation of Southwestern Pennsylvania.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <h4>2018</h4>
              <p>Announced plans to <b>sunset the organization</b> after 17 successful years. Published Last Will &amp; Testament and Field Guides to document our practices. Made last round of grants to support individuals to carry forward Sprout’s ideals.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Team-->
    <section class="bg--dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb--1">
            <a href="{{ '/team/' | relative_url }}"><h1 id="legacy">Our Team</h1></a>
            <p class="lead">Through long service together, we became a family.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mb--1">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <div class="row mb--2">
          <div class="col-md-4">
            <div class="feature">
              <a href="{{ '/team/#co-founders-executive-staff' | relative_url }}">
                <img alt="Executive Staff" class="border--round" src="{{ '/photos/team/cathy&matt.jpg' | relative_url }}">
                <h4>Executive Staff</h4>
              </a>
              <p>We were led throughout by our co-founders, Cathy Lewis Long & Matt Hannigan.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <a href="{{ '/team/#senior-staff' | relative_url }}">
                <img alt="Senior Staff" class="border--round" src="{{ '/photos/team/senior-staff.jpg' | relative_url }}">
                <h4>Senior Staff</h4>
              </a>
              <p>We fostered excellence in catalytic funding, community building, and storytelling.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <a href="{{ '/team/#program-other-staff' | relative_url }}">
                <img alt="Program & Other Staff" class="border--round" src="{{ '/photos/team/program-other-staff.jpg' | relative_url }}">
                <h4>Program & Other Staff</h4>
              </a>
              <p>We were powered by a dedicated staff of nonprofit professionals.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <a href="{{ '/team/#officers' | relative_url }}">
                <img alt="Officers" class="border--round" src="{{ '/photos/team/mark.jpg' | relative_url }}">
                <h4>Officers</h4>
              </a>
              <p>We were supported by officers who were dedicated to the vitality our community.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <a href="{{ '/team/#board' | relative_url }}">
                <img alt="Board" class="border--round" src="{{ '/photos/team/danielle.jpg' | relative_url }}">
                <h4>Board</h4>
              </a>
              <p>We were governed by young leaders who championed civic action in Pittsburgh.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature">
              <a href="{{ '/team/#decisionmakers' | relative_url }}">
                <img alt="Decisionmakers" class="border--round" src="{{ '/photos/team/decisionmakers.jpg' | relative_url }}">
                <h4>Decisionmakers</h4>
              </a>
              <p>We helped diverse committees select projects with the greatest potential for success.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Supporters & Friends-->
    <section class="bg--white">
      <div class="container">
        <div class="row mb--2" id="supporters">
          <div class="col-12">
            <h1>Our Supporters</h1>
            <p class="lead">We owe a tremendous debt of gratitude to our long-standing and significant philanthropic partners. Their investments and trust in us made it possible to achieve our audacious goals.</p>
          </div>
        </div>
        <div class="row mb--2">
          <!--$4M-->
          <div class="col-12 col-md-8 mb-4">
            <h2>$4+ million</h2>
            <div class="row">
              <div class="col-6">
                <a href="http://grable.org/" target="_blank" title="The Grable Foundation">
                  <img alt="The Grable Foundation" src="{{ '/logos/friends/grable-fdn.png' | relative_url }}">
                </a>
              </div>
              <div class="col-6">
                <a href="https://www.rkmf.org/" target="_blank" title="Richard King Mellon Foundation">
                  <img alt="Richard King Mellon Foundation" src="{{ '/logos/friends/mellon-rk-fdn.png' | relative_url }}">
                </a>
              </div>
            </div>
          </div>
          <!--$2M-->
          <div class="col-12 col-md-4 mb-4">
            <h2>$2+ million</h2>
            <div class="row">
              <div class="col-6 col-md-12">
                <a href="https://www.macfound.org/" target="_blank" title="John D. and Catherine T. MacArthur Foundation">
                  <img alt="John D. and Catherine T. MacArthur Foundation" src="{{ '/logos/friends/macarthur-fdn.png' | relative_url }}">
                </a>
              </div>
            </div>
          </div>
          <!--$1M-->
          <div class="col-12 mb-4">
            <h2>$1+ million</h2>
            <div class="row">
              <div class="col-4">
                <a href="http://www.benedum.org/" target="_blank" title="Claude Worthington Benedum Foundation">
                  <img alt="Claude Worthington Benedum Foundation" src="{{ '/logos/friends/benedum-fdn.png' | relative_url }}">
                </a>
              </div>
              <div class="col-4">
                <a href="http://hillmanfamilyfoundations.org/" target="_blank" title="Hillman Family Foundations">
                  <img alt="Hillman Family Foundations" src="{{ '/logos/friends/hillman-fdn.png' | relative_url }}">
                </a>
              </div>
              <div class="col-4">
                <a href="https://pittsburghfoundation.org/" target="_blank" title="The Pittsburgh Foundation" style="-webkit-filter: contrast(90%); filter: contrast(90%);">
                  <img alt="The Pittsburgh Foundation" src="{{ '/logos/friends/pittsburgh-fdn.png' | relative_url }}">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row justify-content-between">
              <!--$500K-->
              <div class="col-12 col-md-5 mb-4">
                <h3>$500,00+</h3>
                <div class="row">
                  <div class="col-4 col-md-6">
                    <a href="http://www.buhlfoundation.org/" target="_blank" title="The Buhl Foundation">
                      <img alt="The Buhl Foundation" src="{{ '/logos/friends/buhl-fdn.png' | relative_url }}">
                    </a>
                  </div>
                  <div class="col-4 col-md-6">
                    <a href="http://www.heinz.org/" target="_blank" title="The Heinz Endowments">
                      <img alt="The Heinz Endowments" src="{{ '/logos/friends/heinz-endowments.png' | relative_url }}">
                    </a>
                  </div>
                </div>
              </div>
              <!--$100K-->
              <div class="col-12 col-md-7 mb-4">
                <h3>$100,00+</h3>
                <div class="row">
                  <div class="col-4">
                    <a href="https://www.bnymellon.com/" target="_blank" title="BNY Mellon Foundation of Southwestern Pennsylvania">
                      <img alt="BNY Mellon Foundation of Southwestern Pennsylvania" src="{{ '/logos/friends/bnymellon.png' | relative_url }}">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="http://laurelfdn.org/" target="_blank" title="Laurel Foundation">
                      <img alt="Laurel Foundation" src="{{ '/logos/friends/laurel-fdn.png' | relative_url }}">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="https://www.pnc.com/en/about-pnc/corporate-responsibility/philanthropy.html" target="_blank" title="PNC Financial Services Group">
                      <img alt="PNC Financial Services Group" src="{{ '/logos/friends/pnc.png' | relative_url }}">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--$50K-->
          <div class="col-12">
            <h3>$50,000+</h3>
            <div class="row justify-content-md-around">
              <div class="col-4 col-md-2">
                <a href="https://www.alleghenyconference.org/" target="_blank" title="Allegheny Conference on Community Development">
                  <img alt="Allegheny Conference on Community Development" src="{{ '/logos/friends/allegheny-conference.png' | relative_url }}">
                </a>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://www.ae.com/" target="_blank" title="American Eagle Outfitters Foundation">
                  <img alt="American Eagle Outfitters Foundation" src="{{ '/logos/friends/american-eagle-outfitters.png' | relative_url }}">
                </a>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://benterfoundation.org/" target="_blank" title="The Benter Foundation">
                  <img alt="The Benter Foundation" src="{{ '/logos/friends/benter-fdn.png' | relative_url }}">
                </a>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://www.citizensbank.com/community/overview.aspx" target="_blank" title="Citizens Bank Foundation">
                  <img alt="Citizens Bank" src="{{ '/logos/friends/citizens-bank-fdn.png' | relative_url }}">
                </a>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://www.nisource.com/community/giving-back/nisource-charitable-foundation" target="_blank" title="Nisource Charitable Foundation">
                  <img alt="Nisource Charitable Foundation" src="{{ '/logos/friends/columbia-gas-of-pa.png' | relative_url }}">
                </a>
              </div>
              <div class="col-4 d-block d-md-none">
                <a href="http://corporate.comcast.com/our-values/community-investment/philanthropy-partnerships" target="_blank" title="Comcast NBCUniversal">
                  <img alt="Comcast NBCUniversal" src="{{ '/logos/friends/comcast-nbcuniversal.png' | relative_url }}" style="-webkit-filter: contrast(90%); filter: contrast(90%);">
                </a>
              </div>
            </div>
            <div class="row justify-content-md-around">
              <div class="d-none d-md-block col-md-2">
                <a href="http://corporate.comcast.com/our-values/community-investment/philanthropy-partnerships" target="_blank" title="Comcast NBCUniversal">
                  <img alt="Comcast NBCUniversal" src="{{ '/logos/friends/comcast-nbcuniversal.png' | relative_url }}" style="-webkit-filter: contrast(90%); filter: contrast(90%);">
                </a>
              </div>
              <div class="col-4 col-md-2">
                <img alt="National City Bank of Pennsylvania" src="{{ '/logos/friends/national-city-bank.png' | relative_url }}">
              </div>
              <div class="col-4 col-md-2">
                <a href="http://oxforddevelopment.com/" target="_blank" title="Oxford Development Company">
                  <img alt="Oxford Development Company" src="{{ '/logos/friends/oxford-development.png' | relative_url }}">
                </a>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://www.arts.pa.gov/" target="_blank" title="Pennsylvania Council on the Arts">
                  <img alt="Pennsylvania Council on the Arts" src="{{ '/logos/friends/pa-council-on-the-arts.png' | relative_url }}">
                </a>
              </div>
              <div class="col-4 col-md-2">
                <a href="https://uwswpa.org/" target="_blank" title="United Way of Southwestern Pennsylvania">
                  <img alt="United Way of Southwestern Pennsylvania" src="{{ '/logos/friends/united-way.png' | relative_url }}">
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 mt-5">
            <p class="lead type--italic">And hundreds of generous individual donors, dozens of small businesses and corporate partners, and thousands of volunteers, facilitators, community groups, and project leaders.</p>
          </div>
        </div>
        <div class="row mt--2 mb--2" id="friends">
          <div class="col-12">
            <h1>Our Friends & Partners</h1>
            <p class="lead">Our hearts are with the people and communities of Pittsburgh—and elsewhere—who have humbled us with their support and confidence and have made our work so incredibly meaningful and rewarding. Thank you!</p>
          </div>
        </div>
        <div class="row mt--2">
          <div class="col-4 col-md-2 friend-logo"><a href="http://www.county.allegheny.pa.us/" target="_blank" title="Allegheny County"><img alt="Allegheny County" src="{{ '/logos/friends/allegheny-county.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://clearstorycreative.com/" target="_blank" title="Clear Story Inc."><img alt="Clear Story Inc." src="{{ '/logos/friends/clear-story.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://creativemornings.com/" target="_blank" title="CreativeMornings"><img alt="CreativeMornings" src="{{ '/logos/friends/creativemornings.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="http://digitalpromise.org/" target="_blank" title="Digital Promise"><img alt="Digital Promise" src="{{ '/logos/friends/digital-promise.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="http://www.fundersnetwork.org/" target="_blank" title="Funders’ Network for Smart Growth and Livable Communities"><img alt="Funders’ Network for Smart Growth and Livable Communities" src="{{ '/logos/friends/funders-network.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://www.gatesfoundation.org/" target="_blank" title="Bill & Melinda Gates Foundation"><img alt="Bill & Melinda Gates Foundation" src="{{ '/logos/friends/gates-fdn.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://www.geofunders.org/" target="_blank" title="Grantmakers for Effective Organizations"><img alt="Grantmakers for Effective Organizations" src="{{ '/logos/friends/geo.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://forbesfunds.org/gpnp" target="_blank" title="Greater Pittsburgh Nonprofit Partnership"><img alt="Greater Pittsburgh Nonprofit Partnership" src="{{ '/logos/friends/gpnp.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="http://www.grassrootsgrantmakers.org/" target="_blank" title="Grassroots Grantmakers"><img alt="Grassroots Grantmakers" src="{{ '/logos/friends/grassroots-grantmakers.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://gwpa.org/" target="_blank" title="Grantmakers of Western Pennsylvania"><img alt="Grantmakers of Western Pennsylvania" src="{{ '/logos/friends/gwpa.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://www.lrng.org/" target="_blank" title="LRNG"><img alt="LRNG" src="{{ '/logos/friends/lrng.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="http://pittsburghpa.gov/mayor/mbk/index.html" target="_blank" title="My Brother's Keeper Pittsburgh-Allegheny County" style="-webkit-filter: contrast(80%); filter: contrast(80%);"><img alt="My Brother's Keeper Pittsburgh-Allegheny County" src="{{ '/logos/friends/mbk-pittsburgh.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://www.mozilla.org/en-US/" target="_blank" title="Mozilla" style="-webkit-filter: contrast(80%); filter: contrast(80%);"><img alt="Mozilla" src="{{ '/logos/friends/mozilla.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://www.newsunrising.org/" target="_blank" title="New Sun Rising"><img alt="New Sun Rising" src="{{ '/logos/friends/new-sun-rising.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="http://www.onenorthsidepgh.org/" target="_blank" title="One Northside" style="-webkit-filter: contrast(80%); filter: contrast(80%);"><img alt="One Northside" src="{{ '/logos/friends/one-northside.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="https://obamawhitehouse.archives.gov/administration/eop/ostp/" target="_blank" title="Obama Office of Science &amp; Technology Policy"><img alt="Obama Office of Science &amp; Technology Policy" src="{{ '/logos/friends/ostp.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="http://pittsburghpa.gov/" target="_blank" title="City of Pittsburgh"><img alt="City of Pittsburgh" src="{{ '/logos/friends/pittsburgh-city.png' | relative_url }}"></a></div>
          <div class="col-4 col-md-2 friend-logo"><a href="http://remakelearning.org/" target="_blank" title="Remake Learning"><img alt="Remake Learning" src="{{ '/logos/friends/remake-learning.png' | relative_url }}"></a></div>
        </div>
      </div>
    </section>

    {% include footer.html %}

  </div>

  {% include scripts.html %}
  <script src="{{ '/assets/js/stack/granim.min.js' | relative_url }}">
  </script>
</body>
</html>
