<!DOCTYPE html>
<html lang="en">
<head>
  {% include header.html %}
</head>
<body data-smooth-scroll-offset="77">
  {%- assign page_slug = page.url | split: '/' | last -%}

  {% include navbar.html %}

  <div class="main-container">
    <section class="cover imagebg height-100" data-overlay="4">
      <div class="background-image-holder"><img alt="background" src="{{ site.baseurl }}{{ page.cover-image.source }}"></div>
      <div class="container pos-vertical-center">
        <div class="row">
          <div class="col-md-9 col-lg-8">
            <h1>{{ page.title | smartify }}</h1>
            <h3>{{ page.subtitle | smartify }}</h3>
          </div>
        </div>
      </div>
      <div class="pos-absolute pos-bottom col-12">
        <div class="container">
          <div class="row">
            <div class="col-12 text-left pl-0 pr-0">
              <div class="text-block">
                <h5>{{ page.cover-image.caption | smartify }}</h5><span>{{ page.cover-image.subcaption | smartify }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="switchable switchable--switch bg--white">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-8 col-lg-7">
            <h2>{{ page.context.heading | smartify }}</h2>
            {%- for detail in page.context.details -%}
              <p class="lead">{{ detail | smartify }}</p>
            {%- endfor -%}
          </div>
          <div class="col-md-4 col-lg-3">
            <h3>Program In Brief</h3>
            {%- for by-the-numbers_block in page.by-the-numbers -%}
              <div class="text-block">
                <h5>{{ by-the-numbers_block.heading }}</h5>
                <p>{{ by-the-numbers_block.data }}</p>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </section>

    {%- for highlight in page.highlights -%}
      <section class="{% cycle 'bg--secondary', 'bg--white' %}">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb--1">
              <h1>{{ highlight.title }}</h1>
              {%- for description_para in highlight.description -%}
                <p class="lead">{{ description_para | smartify }}</p>
              {%- endfor -%}
            </div>
          </div>
        </div>
        {%- for section in highlight.sections -%}
          <div class="container">
            <div class="row mb--1">
              <div class="col-12">
                <hr>
                <h2>{{ section.title | smartify }}</h2>
                {%- for description_para in section.description -%}
                  <p class="lead">{{ description_para | smartify }}</p>
                {%- endfor -%}
              </div>
            </div>
            <div class="row mb--2">
              {%- for feature in section.features -%}
                {%- assign feature_image = feature.image -%}
                {%- assign feature_name  = feature.name -%}
                {%- assign feature_summary = feature.summary -%}
                {%- assign feature_description = feature.description -%}
                {%- if feature.grant-id -%}
                  {%- assign grant = site.data.grants | where: 'grant-id',feature.grant-id | first -%}
                  {%- unless feature_image -%}
                    {%- if grant.type == 'mural' -%}
                      {%- assign feature_image = grant.project-slug | prepend: '/photos/murals/' | append: '.jpg' -%}
                    {%- else -%}
                      {%- assign feature_image = grant.project-slug | prepend: '/photos/projects/' | append: '.jpg' -%}
                    {%- endif -%}
                  {%- endunless -%}
                  {%- unless feature_name -%}
                    {%- assign feature_name = grant.project-name -%}
                  {%- endunless -%}
                  {%- unless feature_summary -%}
                    {%- assign feature_summary = grant.short-statement -%}
                  {%- endunless -%}
                  {%- unless feature_description -%}
                    {%- assign feature_description = grant.full-description -%}
                  {%- endunless -%}
                  {% include grants/addon.html %}
                {%- endif -%}

                <div class="col-md-4">
                  <div class="feature">
                    {%- if feature_description -%}
                      <div class="modal-instance">
                        <a class="modal-trigger" href="#">
                          {%- if feature_image -%}
                            <img alt="{{ feature.name | smartify }}" class="border--round" src="{{ site.baseurl }}{{ feature_image }}">
                          {%- endif -%}
                          <h4>{{ feature_name | smartify }}</h4>
                        </a>
                        <p>{{ feature_summary | smartify }}</p>
                        <div class="modal-container">
                          <div class="modal-content">
                            <section class="imageblock feature-large bg--site border--round">
                              <div class="imageblock__content col-lg-5 col-md-4 pos-left">
                                <div class="background-image-holder">
                                  <img alt="background" src="{{ site.baseurl }}{{ feature_image }}" />
                                </div>
                              </div>
                              <div class="container">
                                <div class="row justify-content-end">
                                  <div class="col-lg-7 col-md-8">
                                    <div class="row justify-content-center">
                                      <div class="col-md-11 col-lg-10">
                                        <h2>{{ feature_name | smartify }}</h2>
                                        {% if grant_addon %}<p class="lead">{{ grant_addon | smartify }}</p>{% endif %}
                                        <p>{{ feature_description | smartify }}</p>
                                      </div><!--end of col-->
                                    </div><!--end of row-->
                                  </div>
                                </div><!--end of row-->
                              </div><!--end of container-->
                            </section>
                            <div class="modal-close modal-close-cross"></div>
                          </div>
                        </div>
                      </div>
                    {%- else -%}
                      {%- if feature_image -%}
                        <img alt="{{ feature_name | smartify }}" class="border--round" src="{{ site.baseurl }}{{ feature_image }}">
                      {%- endif -%}
                      <h4>{{ feature_name | smartify }}</h4>
                      <p>{{ feature_summary | smartify }}</p>
                    {%- endif -%}
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>
        {%- endfor -%}
      </section>
    {%- endfor -%}

    <section class="bg--dark">
      <div class="container">
        <div class="row">
          {%- for column in page.acknowledgements -%}
            <div class="col-6 col-md-4">
              <h3>{{ column.title }}</h3>
              <ul>
                {%- for item in column.items -%}
                  {%- assign item_front = item | split: ',' | first | strip -%}
                  {%- assign item_back  = item | split: ',' | last  | strip -%}
                  <li>{{ item_front | smartify }}{% if item_back != item_front %} <span class="type--fine-print type--fade type--italic ">{{ item_back | smartify }}</span>{%- endif -%}</li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endfor -%}
          {%- if page.funders -%}
            <div class="col-12 col-md-4">
              <h3>{{ page.funders.title }}</h3>
              <ul>
                {%- for item in page.funders.items -%}
                  <li>{{ item | smartify }}</li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>
      </div>
    </section>

    {% include footer.html %}

  </div>

  {% include scripts.html %}
</body>
</html>
