<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="layout-{{ page.layout }}">
    <div class="container-fluid">
      <div class="row">

        <main id="content" class="col-12 d-print-block col-print-12 px-print-0 py-print-0" role="main">
          {%- assign static_files_paths = site.static_files | map: "path" -%}
          <code>{{ static_files_paths | jsonify }}</code>
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
